.tables{
    margin-top: 250px;
    .table{
        margin-top: 70px;
    }
    .tableHeader{
        background-color: #582DE1;
        height: 70px;
        font-size: 15px;
        text-align: center;
    }

    .tableBody{
        height: 70px;
        font-size: 12px;
        text-align: center;
    }
}

@media screen and (max-width: 800px){
    .tables{
        margin-top: 150px;
        .table{
            margin-top: 60px;
        }
        .tableHeader{
            height: 60px;
            font-size: 12px;
        }

        .tableBody{
            height: 60px;
            font-size: 10px;
        }
    }

}
@media screen and (max-width: 550px){
    .tables{
        margin-top: 80px;
        .table{
            margin-top: 40px;
        }
        .tableHeader{
            height: 40px;
            font-size: 8px;
        }

        .tableBody{
            height: 40px;
            font-size: 6px;
        }
    }

}
@media screen and (max-width: 360px){
    .tables{
        margin-top: 60px;
        .table{
            margin-top: 20px;
        }
        .tableHeader{
            height: 30px;
            font-size: 8px;
        }

        .tableBody{
            height: 30px;
            font-size: 6px;
        }
    }

}