.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    &-logo{
        h1{
            font-size: 20px;
            font-weight: 600;
        }
    }
    &-link{
        display: flex;
        align-items: center;
        gap: 10px;
        li{
            a{
                font-size: 14px;
                color: white;
            }
            .first{
                    font-size: 13px;
                text-decoration: none;
            }
        }
    }
}
@media screen and (max-width: 650px){
    .header{
        &-logo{
            h1{
                font-size: 18px;
            }
        }
        &-link{
            li{
                a{
                    font-size: 12px;
                }
                .first{
                    font-size: 11px;
                }
            }
        }
    }
}
@media screen and (max-width: 500px){
    .header{
        &-logo{
            h1{
                font-size: 15px;
            }
        }
        &-link{
            li{
                a{
                    font-size: 10px;
                }
                .first{
                    display: none;
                }
            }
        }
    }
}

@media screen and (max-width: 400px){
    .header{
        margin-top: 10px;
        &-logo{
            h1{
                font-size: 12px;
            }
        }
        &-link{
            li{
                a{
                    font-size: 8px;
                }
            }
        }
    }
}